footer {
  background-color: $primary;
  padding: 20px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo {
    display: inline-block;
    flex-grow: 1;

    img {
      width: 170px;
      height: auto;
    }
  }

  p {
    font-family: $open-sans;
    color: #b2bce0;
    font-size: 17px;
    width: 100%;
    margin-top: 20px;

    @media (min-width: 768px) {
      width: auto;
      margin-top: 0;
    }
  }
}
