header {
  padding: 50px 0;
  border-bottom: 1px solid #b2bce0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }

  h1,
  h2 {
    color: $primary;
    font-family: $scada;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-size: 38px;
    line-height: 48px;

    @media (min-width: 768px) {
      font-size: 62px;
      line-height: 62px;
    }
  }

  h2 {
    font-size: 26px;
    line-height: 34px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 30px;

    @media (min-width: 768px) {
      margin-top: 50px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  p {
    color: $secondary;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-family: $open-sans;
    margin-top: 25px;

    @media (min-width: 768px) {
      font-size: 22px;
      line-height: 32px;
      margin-top: 40px;
    }
  }

  &.image {
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      min-height: calc(100vh - 110px);
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      font-size: 38px;
      line-height: 48px;
      width: 100%;
      margin-bottom: 50px;
      text-align: left;

      @media (min-width: 768px) {
        font-size: 52px;
        line-height: 62px;
      }

      @media (min-width: 1024px) {
        width: 45%;
        margin-bottom: 0;
      }
    }

    .image {
      width: 100%;
      text-align: center;

      @media (min-width: 1024px) {
        width: calc(60% - 100px);
      }

      img {
        width: 100%;
        max-width: 450px;
        height: auto;
        display: inline-block;
        background-color: $secondary;
      }
    }
  }
}
