section.inquiries {
  .title {
    text-align: center;

    h1 {
      margin: 0 auto 30px auto;
    }

    h2 {
      max-width: 550px;
      margin: 0 auto;
      font-size: 22px;
      line-height: 32px;
      font-family: $scada;
      color: $primary;
      font-weight: bold;
    }
  }

  .locations {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .location {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      border: 1px solid $primary;
      border-radius: 4px;
      padding: 10px 15px;
      box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
      background-color: $white;
      @include transition(all 0.4s ease);

      &:hover {
        background-color: darken($white, 5%);
      }

      @media (min-width: 568px) {
        width: calc(50% - 10px);
        margin-right: 20px;

        &:nth-of-type(2n) {
          margin-right: 0;
        }

        &:nth-of-type(-n + 2) {
          margin-top: 0;
        }
      }

      @media (min-width: 1024px) {
        max-width: 285px;

        &:nth-of-type(-n + 3) {
          margin-top: 0;
        }

        &:nth-of-type(2n) {
          margin-right: 20px;
        }

        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }

      &:first-of-type {
        margin-top: 0;
      }

      span {
        display: block;
        font-size: 18px;
        line-height: 28px;

        &:first-of-type {
          font-family: $scada;
          color: $primary;
          font-weight: bold;
        }

        &:last-of-type {
          font-family: $open-sans;
          color: $secondary;
        }
      }
    }
  }

  img {
    margin-top: 50px;
    width: 100%;
    height: auto;
  }

  .other {
    margin-top: 30px;

    h1 {
      max-width: 930px;
      font-family: $scada;
      color: $primary;
      font-weight: bold;
      font-size: 38px;
      line-height: 48px;
      margin: 0 auto;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 52px;
        line-height: 62px;
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;

      @media (min-width: 768px) {
        justify-content: space-between;
      }

      .link {
        width: 100%;
        margin-top: 20px;
        text-align: center;

        @media (min-width: 768px) {
          max-width: 210px;

          &:nth-of-type(-n + 3) {
            margin-top: 0;
          }
        }

        @media (min-width: 1024px) {
          max-width: 265px;
        }

        &:first-of-type {
          margin-top: 0;
        }

        p {
          font-family: $scada;
          color: $secondary;
          font-size: 18px;
          line-height: 28px;
          font-weight: bold;

          @media (min-width: 1024px) {
            font-size: 22px;
            line-height: 32px;
          }
        }

        a {
          display: block;
          text-align: center;
          color: $white;
          font-family: $scada;
          font-size: 18px;
          line-height: 28px;
          font-weight: bold;
          background-color: $primary;
          padding: 17px 15px;
          margin-top: 20px;
          border-radius: 4px;

          @media (min-width: 1024px) {
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }
  }
}
