section.partners {
  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .partner {
      margin-top: 20px;
      width: 100%;
      text-align: center;

      @media (min-width: 768px) {
        width: auto;
      }

      img {
        max-height: 59px;
        width: auto;
        display: inline-block;
      }
    }
  }
}
